<%= week_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |meeting| %>
    <div>
      <%= meeting.start_time.strftime('%I:%M:%S %p') %>
    </div>
  <% end %>
<% end %>
